<div class="form-container">
    <form #form="ngForm" ngNtiveValidate >
    
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre"[(ngModel)]="formData.nombre"name="nombre" id="nombre"required/>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Comentario</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."[(ngModel)]="formData.comentario" name="comentario"id="comentario"></textarea>
      </mat-form-field>
    <button type="submit"(click)="onSudmit">Enviar</button>
    <button type="submit"(click)="onReset">Reset</button>
    </form>
  </div>