<div class="form-container">
    <form #form="ngForm" ngNativeValidate>
        <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>

        <button type="submit" (click)="onSubmit()">Enviar</button>
        <button type="reset" (click)="onReset()">Enviar</button>
    </form>
</div>
