<div class="form-container">
    <form #form="ngForm" ngNativeValidate>
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" [(ngModel)]="formData.nombre" id="Nombre" name="nombre" required>
          </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Comentario</mat-label>
            <textarea matInput placeholder="Comentario" [(ngModel)]="formData.comentario" id="comentario" name="comentario"></textarea>
          </mat-form-field>
        <button type="submit" (click)="onSubmit()">Enviar</button>
        <button type="submit" (click)="onReset()">Limpiar</button>
    </form>
</div>